<!DOCTYPE html>
{% load static %}
{% load women_tegs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>



<body>
<div class="container-fluid">

    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="#"><span class="broad">Broad</span> <span class="way">Way</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Сontact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Help</a>
                    </li>



                </ul>
                <form action="{% url 'search_result' %}" method="get" class="d-flex form-search">
                    <input name="search" class="form-control me-2" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </form>
				 {{ user.username }}
	            <a href = "{% url 'logout' %}">logout</a>
            </div>

        </nav>
    </header>
    {#{% getcats %}#}
    {% block aside %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer id="footer">footer</footer>
</div>

</body>
</html>


