{% extends 'myapp/base.html' %}

{% block content %}

<main id="main p-xl-2">

    <div class="card p-2 m-3">
        <div class="info d-flex justify-content-between p-2 bg-light my-2">
            <span>categoriya:</span>
            <code>date:{{ w.time_update | date:'SHORT_DATE_FORMAT' }} {{ w.time_update | time:"H:i:s" }}</code>
        </div>
        <div class="card_women d-flex ">
            <div class="card-image">
                <img width="150" src="{{ w.photo.url }}" alt="{{ w.title }}">
            </div>
            <div class="title p-2">
                <h1>{{ w.title }}</h1>
                <p>{{ w.content | linebreaks}}</p>
            </div>

        </div>

    </div>

</main>

{% endblock %}
